name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Set Timezone
      uses: szenius/set-timezone@v1.0
      with:
       timezoneLinux: America/Bogota
       timezoneMacos: America/Bogota
       timezoneWindows: America/Bogota
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build with Gradle
      run: ./gradlew clean test aggregate
   
    - name: GitHub Pages action
      uses: ad-m/github-push-action@v0.5.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
        force: true
        directory: ./target/site/serenity
