name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [opened, synchronize, reopened]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
       fetch-depth: 0
       distribution: 'temurin'
       java-version: '11'
    - run: ./gradlew clean test aggregate

    - name: Init new repo in dist folder and commit generated files
      run: |
       cd target/site/serenity
       git init
       git add -A
       git config --local user.email "action@github.com"
       git config --local user.name "GitHub Action"
       git commit -m 'deploy'
    - name: Force push to destination branch
      uses: ad-m/github-push-action@v0.5.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: visual
        exclude_assets: '.png,/bootstrap-treeview/dist/bootstrap-treeview.min.css,/bootstrap-treeview/dist/bootstrap-treeview.min.js'
        force: true
        directory: target/site/serenity/
        
    - name: Cache SonarCloud packages
      uses: actions/cache@v1
      with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
    - name: Cache Gradle packages
      uses: actions/cache@v1
      with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
    - name: Build and analyze
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: ./gradlew sonarqube --info
